body {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    height: 100vh !important;
    width: 100% !important;
}

@media screen and (max-width: 767px) {
    img#shop_image {
        width: auto !important;
        height: 300px !important;
    }
}
